<a href="https://colab.research.google.com/github/fabina-thasni/python-interview-questions/blob/main/python_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1-write the maximum of 2 numbers.
a=12
b=34
print(max(a,b))

34

In [ ]:
#2-write a program to swap 2 variables.
a='welcome'
b='codeme'
a,b=b,a
print(a)
print(b)

codeme
welcome

In [ ]:
#3-add two numbers and print result.
a=int(input("enter the number"))
b=int(input("enter the number"))
print(a+b)

enter the number5
enter the number67
72

In [ ]:
#4-all even numbers between 1 and 100
for i in range(1,101):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
#5-calculate area of circle given its radious
pi=3.14
r=float(input("enter the radious"))
area=pi*r**2
print(area)

enter the radious5
78.5

In [ ]:
#6-find maximum of 2 numbers.
a=23
b=56
print(max(a,b))

56

In [ ]:
#7-find the sum of all numbers in a list'
list1=[1,2,3,4,5,6,7,8,9]
print(sum(list1))

45

In [ ]:
#8-find the second largest number in a list.
mark=[23,45,56,78,89,65,43]
mark.sort()
print(mark[-2])

78

In [ ]:
#9-write a function takes a numberas an argument and returns its square.
def squarednumber(num):
  return num**2
result=squarednumber(25)
print(result)

625

In [ ]:
#10-write a program to count the number of vowels in a string.
a="welcome to codeme hub"
v=['a','e','i','o','u','A','E','I','O','U']
count=0
for char in a:
  if char in v:
    count+=1
print(count)

8

In [ ]:
#11-write a program to sort a list of numbers in ascending orders.
mark=[56,45,78,98,58,69]
mark.sort()
print(mark)

[45, 56, 58, 69, 78, 98]

In [ ]:
#12-to find the sum of first n natural numbers.
n=int(input("enter the limit"))
sum=0
for i in range(n):
  sum+=i
print(sum)

enter the limit15
105

In [ ]:
#13-find the intersection of 2 sets.
set1={1,2,3,4,5,6,7,8}
set2={7,8,9,6,5,10,11,12}
intersection=set1.intersection(set2)
print(intersection)

{8, 5, 6, 7}

In [ ]:
#14-write a program that asks the user for their name and print a greeting message with their name.
name=input("enter the name")
print(f"hi {name} good morning,how are you?")

enter the namefabina
hi fabina good morning,how are you?

In [ ]:
#15-check if a given number is even or odd '
num=int(input("enter the num"))
if num%2==0:
  print("it is a even number")
else:
    print("it is a odd")

enter the num23
it is a odd

In [ ]:
#16-create a list of 5 fruits and print the list.
fruits=[]
for i in range(5):
   fruit=input("enter the fruit name")
   fruits.append(fruit)
print(fruits)

enter the fruit namebanana
enter the fruit namestrawberry
enter the fruit namegrapes
enter the fruit nameapple
enter the fruit nameorange
['banana', 'strawberry', 'grapes', 'apple', 'orange']

In [ ]:
#17-find the common elements in two lists.
list1=[1,2,3,4,5,6]
list2=[4,5,6,7,8,9]
set1=set(list1)
set2=set(list2)
common_elements=set1.intersection(set2)
print(common_elements)

{4, 5, 6}

In [ ]:
#18-write a program that asks the user for list of numbers and then prints the average of those numbers.
list1=[]
sum=0
num=0
limit=int(input("enter the limit"))
while limit>0:
  new=int(input("enter your number"))
  list1.append(new)
  limit-=1
  sum=sum+list1[num]
  num+=1
  avg=sum/len(list1)
print(avg)

enter the limit4
enter your number23
enter your number54
enter your number27
enter your number45
37.25

In [ ]:
#19-write a function to add 2 numbers
def add(a,b):
  return a+b
add(23,56)

79

In [ ]:
#20-write a program to calculate and print the sum of a list of numbers.
list1=[]
sum=0
num=0
limit=int(input("enter the limit"))
while limit>0:
 new=int(input("enter the number"))
 list1.append(new)
 limit-=1
 sum=sum+list1[num]
 num+=1
print("sum of all items in a list",sum)

enter the limit3
enter the number12
enter the number23
enter the number13
sum of all items in a list 48

In [ ]:
#21-write a program that creates a dictionary with three key-value pairs and prints it
user_dict={}
limit=3
for i in range(limit):
  key=input("enter the key")
  value=input("enter the value")
  user_dict[key]=value
print("user_dict=",user_dict)

enter the keyfabina
enter the value2344567
enter the keymalik
enter the value23456
enter the keymariyam
enter the value45678
user_dict= {'fabina': '2344567', 'malik': '23456', 'mariyam': '45678'}

In [ ]:
#22-write a program that prints numbers from 1 to 5 using a while loop
num=1
while num<6:
  print(num)
  num+=1
print("program end")

1
2
3
4
5
program end

In [ ]:
#23-write a program that asks the user for two numbers and prints their sum.
num1=int(input("enter the first number "))
num2=int(input("enter the second number"))
sum=num1+num2
print(sum)

enter the first number 23
enter the second number6
29

In [ ]:
#24-write a program prints first and last elements of a list
price=[100,102,105,124,108,152]
print(price[0])
print(price[-1])

100
152

In [ ]:
#25-write a program that concatenates(joins together)two strings and prints the result.
x="hi fabina"
y="good morning"
print(x+ ","+y)

hi fabina,good morning

In [ ]:
#26-write a program that compares two numbers and prints which one is larger.
num1=int(input("enter the first num"))
num2=int(input("enter the second num"))
if num1>num2:
  print(f"{num1},first number is larger")
else:
  print(f"{num2},second number is larger")

enter the first num56
enter the second num23
56,first number is larger

In [ ]:
#26-write a programto generate a list of even numbers from 1 to 20.
even_numbers=[]
for i in range(1,21):
  if i%2==0:
    even_numbers.append(i)
print("list of even numbers from 1 to 20:",even_numbers)

list of even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#27write a function factorial that returns the factorial of a given number
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)
print(factorial(4))

24

In [ ]:
#28-write a function intersection that finds the intersection of two list
def intersection(list1,list2):
  set1=set(list1)
  set2=set(list2)
  intersect=set1.intersection(set2)
  return list(intersect)
list1=[1,2,3,4,5,6,7,8,9]
list2=[4,5,6,7,8,9,10,11,12]
print(intersection(list1,list2))

[4, 5, 6, 7, 8, 9]

In [ ]:
#29-write a function squaresthat takes a list of integers and returns new list containing the squares of all even numbers from the orginal list using list comprehension.
def squares(numbers):
  return [i**2 for i in numbers if i%2==0]
numbers=[22,23,24,25,26,27,28,29]
print(squares(numbers))

[484, 576, 676, 784]

In [ ]:
#30-write a function double_numbers that takes a list of integers and returns new list containing each number doubled using list comprehension.
def double_numbers(integers):
  return[i*2 for i in integers]
integers=[1,2,3,4,5,6,7,8,9,10]
print(double_numbers(integers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#31-write a function increment_elements that takes a list of integers and returs new list where each element is incremented by 1 using the map function and lambda expression.
def increment_element(integers):
  return list(map(lambda x:x+1 ,integers))
integers=[12,13,14,15,16]
print(increment_element(integers))

[13, 14, 15, 16, 17]

In [ ]:
#32-write a function remove_elements that takes a list of integers an integer n,and returns new list with all occurences of n from the original list.
def remove_elements(integers,n):
  return[i for i in integers if i!=n]
integers=[1,2,3,4,5,6,7,8,9,10,3,]
n=3
print(remove_elements(integers,n))

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#33-write a function remove_duplicates that takes a list and returns a new list with duplicate elements removed.
def remove_duplicates(numbers):
  return list(set(numbers))
numbers=[1,2,3,4,5,3,4]
print(remove_duplicates(numbers))

[1, 2, 3, 4, 5]

in this function,set function is used to remove duplicate elements from the list ,as sets do not allow duplicate elements.the list function converts the set back into a list.

In [ ]:
#34-write a function count-words that takes a list of string and returns new list containing the words that occur more than twice without using the counter class.

words=["apple","banana","apple","orange","banana","apple","mango"]
words_count={}

for word in words:
  if word in words_count:
    words_count[word]+=1
  else:
    words_count[word]=1
print(words_count)

result=[]
for i,j in words_count.items():
  if j>=2:
    result.append(i)
print(result)

{'apple': 3, 'banana': 2, 'orange': 1, 'mango': 1}
['apple', 'banana']

In [ ]:
#in function:

def count_words(words):
  words_count={}

  for word in words:
    if word in words_count:
      words_count[word]+=1
    else:
      words_count[word]=1

    result=[]

  for i,j in words_count.items():
      if j>=2:
        result.append(i)
  return result

words=["apple","banana","apple","orange","apple","orange","banana"]
count_words(words)

['apple', 'banana', 'orange']

In [ ]:
#35-write a function count_alphabet_occurances that takes a list of words and returns a dictionary where the keys are alphabetic characters and the values are the number of times each character appears across all the words in the list.
def count_alphabet_occurances(words):
  char_count={}
  for word in words:
    for char in word:
      if char.isalpha():
        char=char.lower()
        if char in char_count:
          char_count[char]+=1
        else:
          char_count[char]=1
  return char_count

words=["fabina","femina","hiba","dhilfa"]
result=count_alphabet_occurances(words)
print(result)

{'f': 3, 'a': 5, 'b': 2, 'i': 4, 'n': 2, 'e': 1, 'm': 1, 'h': 2, 'd': 1, 'l': 1}

In [ ]:
#36-write a function flatten_list that takes a list of lists and returns a single list containing all the elements from the nested list.
def flatten_list(nested_list):
  return[item for sublist in nested_list for item in sublist]
nested_list=[[1,2,3],[4,5],[6,7,8,9]]
flat_list=flatten_list(nested_list)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]